/* app specific */
.mirror {
    width: 684px;
    height: 76px;
    position: absolute;
    top: 275px;
    left: -5px;
    z-index: 999;
}

.mirror-overlay {
    width: 384px;
    height: 32px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 522px;
    left: 510px;
}

.line {
    width: 572px;
    height: 4px;
    position: absolute;
    left: 370px;
}

/* 1 */
.l1 {
    top: 272px;
    -webkit-transform: rotateZ(33deg);
    width: 221px;
    left: -11px;
}

.l2 {
    top: 239px;
    -webkit-transform: rotateZ(27deg);
    width: 240px;
    left: 75px;
}

.l3 {
    top: 229px;
    -webkit-transform: rotateZ(27deg);
    width: 290px;
    left: 209px;
}


/* 2 */
.l21 {
    top: 237px;
    -webkit-transform: rotateZ(-43deg);
    width: 272px;
    left: 153px;
}

.l22 {
    top: 199px;
    -webkit-transform: rotateZ(-54deg);
    width: 240px;
    left: 251px;
}

.l23 {
    top: 216px;
    -webkit-transform: rotateZ(41deg);
    width: 240px;
    left: 275px;
}

.line {
    display: none;
}
